@{
    ViewBag.Title = "Home Page";
}
    
    <div class="row">
        <h2><a href="/Articles/News">NEWS</a></h2>
        <div class="col-md-3">
            <div class="news">
                <a href="/Articles/News">
                    <div class="article">
                        <div class="thumb" style="background-image: url('../../Content/Image/01.png');"></div>
                        <div class="title">Tiêu đề bản tin.</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="news">
                <a href="/Articles/News">
                    <div class="article">
                        <div class="thumb" style="background-image: url('../../Content/Image/02.png');"></div>
                        <div class="title">Tiêu đề bản tin.</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="news">
                <a href="/Articles/News">
                    <div class="article">
                        <div class="thumb" style="background-image: url('../../Content/Image/03.png');"></div>
                        <div class="title">Tiêu đề bản tin.</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <h2><a href="/Articles/Sport">SPORT</a></h2>
        <div class="col-md-3">
            <div class="news">
                <a href="/Articles/Sport">
                    <div class="article">
                        <div class="thumb" style="background-image: url('../../Content/Image/01.png');"></div>
                        <div class="title">Tiêu đề bản tin.</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="news">
                <a href="/Articles/Sport">
                    <div class="article">
                        <div class="thumb" style="background-image: url('../../Content/Image/02.png');"></div>
                        <div class="title">Tiêu đề bản tin.</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="news">
                <a href="/Articles/Sport">
                    <div class="article">
                        <div class="thumb" style="background-image: url('../../Content/Image/03.png');"></div>
                        <div class="title">Tiêu đề bản tin.</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <h2><a href="/Articles/Weather">WEATHER</a></h2>
        <div class="col-md-3">
            <div class="news">
                <a href="/Articles/Weather">
                    <div class="article">
                        <div class="thumb" style="background-image: url('../../Content/Image/01.png');"></div>
                        <div class="title">Tiêu đề bản tin.</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="news">
                <a href="/Articles/Weather">
                    <div class="article">
                        <div class="thumb" style="background-image: url('../../Content/Image/02.png');"></div>
                        <div class="title">Tiêu đề bản tin.</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="news">
                <a href="/Articles/Weather">
                    <div class="article">
                        <div class="thumb" style="background-image: url('../../Content/Image/03.png');"></div>
                        <div class="title">Tiêu đề bản tin.</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <h2><a href="/Articles/Music">MUSIC</a></h2>
        <div class="col-md-3">
            <div class="news">
                <a href="/Articles/Music">
                    <div class="article">
                        <div class="thumb" style="background-image: url('../../Content/Image/01.png');"></div>
                        <div class="title">Tiêu đề bản tin.</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="news">
                <a href="/Articles/Music">
                    <div class="article">
                        <div class="thumb" style="background-image: url('../../Content/Image/02.png');"></div>
                        <div class="title">Tiêu đề bản tin.</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="news">
                <a href="/Articles/Music">
                    <div class="article">
                        <div class="thumb" style="background-image: url('../../Content/Image/03.png');"></div>
                        <div class="title">Tiêu đề bản tin.</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

<style>
    .news {
        width: 100%;
        height: auto;
        padding: 5px;
        background-color: #e6e6e6;
    }

    .article {
        width: 200px;
        height: 220px;
        display: inline-block;
        padding: 5px;
        margin-left: 10px;
        vertical-align: top;
    }

    .thumb {
        width: 200px;
        height: 150px;
        background-color: #3e3e3e;
        background-image: none;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
</style>