@model IEnumerable<WebApplication7.Models.Article>
@{
    ViewBag.Title = "Home Page";
}
    
    <div class="row">
        <h2><a href="/Articles/News">NEWS</a></h2>
        <div class="col-md-3">
            <div class="news">
                <a href="/Articles/News">
                    <div class="article">
                        <div class="thumb" style="background-image: url('../../Content/Image/01.png');"></div>
                        <div class="title">Loạt ảnh tuyệt đẹp phong cảnh</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="news">
                <a href="/Articles/News">
                    <div class="article">
                        <div class="thumb" style="background-image: url('../../Content/Image/02.png');"></div>
                        <div class="title">Clip đặc sắc về mèo</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="news">
                <a href="/Articles/News">
                    <div class="article">
                        <div class="thumb" style="background-image: url('../../Content/Image/03.png');"></div>
                        <div class="title">Truyện ngắn</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <h2><a href="/Articles/Sport">SPORT</a></h2>
        <div class="col-md-3">
            <div class="news">
                <a href="/Articles/Sport">
                    <div class="article">
                        <div class="thumb" style="background-image: url('../../Content/Image/04.png');"></div>
                        <div class="title">Đoàn Thị Hương bị đưa ra hiện trường vụ Kim Jong-nam</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="news">
                <a href="/Articles/Sport">
                    <div class="article">
                        <div class="thumb" style="background-image: url('../../Content/Image/05.png');"></div>
                        <div class="title">Mỹ gây sức ép với Myanma</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="news">
                <a href="/Articles/Sport">
                    <div class="article">
                        <div class="thumb" style="background-image: url('../../Content/Image/06.png');"></div>
                        <div class="title">Bộ chính trị điều động cán bộ ở Sóc Trăng</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <h2><a href="/Articles/Weather">WEATHER</a></h2>
        <div class="col-md-3">
            <div class="news">
                <a href="/Articles/Weather">
                    <div class="article">
                        <div class="thumb" style="background-image: url('../../Content/Image/07.png');"></div>
                        <div class="title">Phân biệt thu nhập giữa nam nữ</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="news">
                <a href="/Articles/Weather">
                    <div class="article">
                        <div class="thumb" style="background-image: url('../../Content/Image/08.png');"></div>
                        <div class="title">Đội tuyển bóng đá nữ nước nhà</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="news">
                <a href="/Articles/Weather">
                    <div class="article">
                        <div class="thumb" style="background-image: url('../../Content/Image/09.png');"></div>
                        <div class="title">Lời chia tay của huấn luyện viên Mai Đức Chung</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <h2><a href="/Articles/Music">MUSIC</a></h2>
        <div class="col-md-3">
            <div class="news">
                <a href="/Articles/Music">
                    <div class="article">
                        <div class="thumb" style="background-image: url('../../Content/Image/10.png');"></div>
                        <div class="title">Nhạc Hà Nội xưa</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="news">
                <a href="/Articles/Music">
                    <div class="article">
                        <div class="thumb" style="background-image: url('../../Content/Image/11.png');"></div>
                        <div class="title">Nắng chiều</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="news">
                <a href="/Articles/Music">
                    <div class="article">
                        <div class="thumb" style="background-image: url('../../Content/Image/12.png');"></div>
                        <div class="title">Nhóm nhạc trẻ triển vọng</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

<style>
    .news {
        width: 100%;
        height: auto;
        padding: 5px;
        background-color: #e6e6e6;
    }

    .article {
        width: 200px;
        height: 220px;
        display: inline-block;
        padding: 5px;
        margin-left: 10px;
        vertical-align: top;
    }

    .thumb {
        width: 200px;
        height: 150px;
        background-color: #3e3e3e;
        background-image: none;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
</style>