@model WebApplication7.Models.Article
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Header</h2>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div class="jumbotron">
            @Html.DisplayFor(c => c.Content)
        </div>
    </div>
    <div class="form-group form-group-lg">
        <label for="inputsm">Comment:</label>
        <textarea class="form-control input-sm" rows="5" id="inputsm"></textarea>
        <button type="button" class="btn btn-default">Send</button>
    </div>
</body>
</html>

